@media screen and (min-width:767px){
    .card {
          
        border:0
    }
    .card-body {
     
        padding: 10px;
    }
    .card-header {
        display: none;
    }
    div#accordionExample {
        display: flex;
        justify-content: flex-end;
    }
    .collapse:not(.show) {
        display: block;
    }
}
